<%- include("header"); -%>
    <main>

        <!--================Checkout Area =================-->
        <section class="checkout_area section_padding">
          <div class="container">
            <% if (!authenticate){%>
              <div class="returning_customer">
                <div class="check_title">

                </div>
                <p>
                  If you have shopped with us before, please enter your details in the
                  boxes below. If you are a new customer, please proceed to the
                  Billing & Shipping section.
                </p>
                  <h3 style='color:red'><%= error %></h3>
                <form class="row contact_form" action="/login" method="post" >
                  <div class="col-md-6 form-group p_star">
                    <input type="email" placeholder='Email' class="form-control" id="name" name="username" value=" " />
                    <!-- <span class="placeholder" data-placeholder=" Email"></span> -->
                  </div>
                  <div class="col-md-6 form-group p_star">
                    <input type="password" placeholder='Password' class="form-control" id="password" name="password" value="" />
                    <!-- <span class="placeholder" data-placeholder="Password"></span> -->
                  </div>
                   <input type="hidden" id="custId" name="checkout" value="checkout">
                  <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="btn_3">
                      log in
                    </button>
                    <div class="creat_account">
                    </div>
                  </div>
                </form>
              </div>
            <%}%>


            <div class="billing_details">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Billing Details</h3>
                  <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="first" name="name" />
                      <span class="placeholder" data-placeholder="First name"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="last" name="name" />
                      <span class="placeholder" data-placeholder="Last name"></span>
                    </div>
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="company" name="company" placeholder="Company name" />
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="number" name="number" />
                      <span class="placeholder" data-placeholder="Phone number"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="email" name="compemailany" />
                      <span class="placeholder" data-placeholder="Email Address"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <select class="country_select">
                        <option value="1">Country</option>
                        <option value="2">Country</option>
                        <option value="4">Country</option>
                      </select>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="add1" name="add1" />
                      <span class="placeholder" data-placeholder="Address line 01"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="add2" name="add2" />
                      <span class="placeholder" data-placeholder="Address line 02"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="city" name="city" />
                      <span class="placeholder" data-placeholder="Town/City"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <select class="country_select">
                        <option value="1">District</option>
                        <option value="2">District</option>
                        <option value="4">District</option>
                      </select>
                    </div>
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" />
                    </div>
                    <div class="col-md-12 form-group">
                      <div class="creat_account">
                        <input type="checkbox" id="f-option2" name="selector" />
                        <label for="f-option2">Create an account?</label>
                      </div>
                    </div>
                    <div class="col-md-12 form-group">
                      <div class="creat_account">
                        <h3>Shipping Details</h3>
                        <input type="checkbox" id="f-option3" name="selector" />
                        <label for="f-option3">Ship to a different address?</label>
                      </div>
                      <textarea class="form-control" name="message" id="message" rows="1"
                        placeholder="Order Notes"></textarea>
                    </div>
                  </form>
                </div>
                <div class="col-lg-4">
                  <div class="order_box">
                    <h2>Your Order</h2>
                    <ul class="list">
                      <li>
                        <a href="#">Product
                          <span>Total</span>
                        </a>
                      </li>
                      <% cart.items.forEach(function(element){%>
                        <li>
                          <a href="#"><%=element.title%>
                            <span class="middle">x 0<%=element.qty%></span>
                            <span class="last">$<%=element.accumSingleTotalcost%></span>
                          </a>
                        </li>

                      <%})%>


                    </ul>
                    <ul class="list list_2">

                      <li>
                        <a href="#">Total
                          <span>$<%=cart.total%></span>
                        </a>
                      </li>
                    </ul>

                    <div class="payment_item active">
                      <div class="radion_btn">
                        <input type="radio" id="f-option6" name="selector" />
                        <label for="f-option6">Paypal </label>
                        <img src="img/product/single-product/card.jpg" alt="" />
                        <div class="check"></div>
                      </div>

                    </div>


                    <div id="paypal-button"></div>

                      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                      <script>
                      paypal.Button.render({
                        // Configure environment
                        env: 'sandbox',
                        client: {
                          sandbox: 'demo_sandbox_client_id',
                          production: 'demo_production_client_id'
                        },
                        // Customize button (optional)
                        locale: 'en_US',
                        style: {
                          size: 'small',
                          color: 'gold',
                          shape: 'pill',
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // Set up a payment
                        payment: function(data, actions) {
                          return actions.payment.create({
                            transactions: [{
                              amount: {
                                total: <%=cart.total%>,
                                currency: 'USD'
                              }
                            }]
                          });
                        },
                        // Execute the payment
                        onAuthorize: function(data, actions) {
                          return actions.payment.execute().then(function() {
                            // Show a confirmation message to the buyer
                            window.alert('Thank you for your purchase!');
                            // <a href='/'>
                          });
                        }
                      }, '#paypal-button');

                      </script>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--================End Checkout Area =================-->
    </main>
  <%- include("footer"); -%>
